
@import "../settings";

.faq__accordion_item {
  background: $color-gray-7;

  border-radius: 30px;
  aspect-ratio:  876 / 126;

  display:         flex;
  align-items:     stretch;
  justify-content: stretch;
  justify-items:   left;
}
