
<section class="presentation">
  <h3 class="presentation__title">Мы подготовили для вас<br> видео-презентацию <span>нашей работы</span></h3>
  <div class="presentation__video">
    <a href="#" class="presentation__play">
      <img src="images/sprite.svg#btn-play-1" alt="" class="presentation__play_image">
    </a>
  </div>
</section>
