
.regist__title {
  font:        700 48px/120% "Montserrat";
  font-size:   min( 2.5vw, 48px );
  color:       inherit;
  //line-height: min(2.7083vw, 52px);

  margin:        0 0 40px;
  padding-top:   2.1875vw;
  padding-left:  6.25vw;
  padding-right: 6.25vw;
}
