{% extends "partials/base-page-template.twig" %}
{% block content %}
    <div class="page__main">
        {% include 'partials/header.twig' %}
        <section class="content">
            <div class="content__main">

                {% include 'partials/slider-top.twig' %}
                {% include 'partials/items.twig' %}
                {% include 'partials/shopping-cart.twig' %}

            </div><!-- /content__main -->
        </section>
        {% include 'partials/footer.twig' %}
    </div> <!-- /page__main -->
    <div class="page__menu-mobile">
        {% include 'partials/menu-mobile.twig' %}
    </div>
{% endblock %}
