
footer
{
    flex: 0 1 auto;
    
} // footer

.footer__main
{
    //

} // .footer__main

.footer__follow
{
    max-width: $page-w-desktop;
    margin:    0 auto 19px;
    padding:   5px 0;

} // .footer__follow

.footer__follow-title
{
    font-family:    'JosefinSans';
    font-weight:    900;
    font-size:      18px;
    color:          #000;
    text-align:     center;
    text-transform: uppercase;
    line-height:    120%;

} // .footer__follow-title

.footer__follow-links
{
    font-family: 'MrsSheppards';
    font-weight: 900;
    font-size:   18px;
    line-height: 120%;
    text-align:  center;
    padding:     0 0 35px;

    a
    {
        color:           rgba( 181, 159, 91, 1 );
        fill:            rgba( 181, 159, 91, 1 );
        text-decoration: none;
        display:         inline-block;
        padding:         3px 0 10px;
        transition:      $ani-speed-025s color ease-in-out, $ani-speed-025s fill ease-in-out;

        &:hover
        {
            color: rgba( 181, 159, 91, 0.7 );
            fill:  rgba( 181, 159, 91, 0.7 );
        }

    } // a

    svg
    {
        @include size( 17px, 17px );
        @include pos-rel( null, null, null, null, null );

        display: inline-block;
        top:     3px;

    } // svg

} // .footer__follow-links

.footer__follow-images
{
    @include size( 100% );

    display:         flex;
    flex-flow:       row;
    justify-content: stretch;
    box-sizing:      border-box;
    padding:         0 48px;

    li
    {
        flex:       1 1 auto;
        text-align: center;
        transition: $ani-speed-025s opacity ease-in-out;

        &:hover
        {
            opacity: 0.7;
        }

    } // li

    img
    {
        max-width:  100%;
        max-height: 100%;
        height:     auto;
        min-width:  150px;

    } // img

    @include media("<=desktop-middle")
    {
        flex-flow: row wrap;

        li
        {
            padding: 0 0 6px;

        } // li
    }

} // .footer__follow-images

.footer__socials
{
    background: none #f4f7f6;
    text-align: center;
    padding:    29px 20px 26px;

    .socials
    {
        display: inline-flex;
        flex:    0 1 auto;

    } // .socials__main

} // .footer__socials

.footer__ontop
{
    font-family: 'MrsSheppards';
    font-weight: normal;
    font-size:   20px;
    color:       #000;
    line-height: 120%;
    text-align:  center;
    padding:     23px 0 12px;

    a
    {
        text-decoration: none;
        color:           inherit;
        transition:      $ani-speed-025s opacity ease-in-out;

        &:hover
        {
            opacity: 0.7;
        }

    } // a

} // .footer__ontop

.footer__copy
{
    font-family: 'OpenSans';
    font-weight: 200;
    font-size:   12px;
    line-height: 120%;
    color:       rgba( 0, 0, 0, 0.57 );
    text-align:  center;
    padding:     12px 0 32px;

} // .footer__copy
