<div class="about-short">
    <div class="about-short__photo">
        <img src="/temp-files/image-18.jpg" alt="">
    </div>
    <div class="about-short__content">
        <div class="about-short__title">about me</div>
        <div class="about-short__text">Hi! Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</div>
        <div class="about-short__follow"><a href="#">follow me on</a></div>
        <div class="about-short__socials">
            <ul>
                <li>
                    <a href="#">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-tw"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-fb"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-in"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-insta"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-google"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div> <!-- /about-short__content -->
</div> <!-- /about-short -->
