<div class="banners">
    <div class="banners__title title-small">banner</div>
    <div class="banners__item">
        <a href="#"><img src="/temp-files/image-29.jpg" alt=""></a>
    </div>
</div> <!-- /banners -->
