<div class="categories">
    <div class="categories__title title-small">categories</div>
    <ul class="categories__list">
        <li><a href="#">Beauty <span>12</span></a></li>
        <li><a href="#">Health <span>4</span></a></li>
        <li><a href="#">Lifestyle <span>14</span></a></li>
        <li><a href="#">Music <span>11</span></a></li>
        <li><a href="#">Sport <span>111</span></a></li>
        <li><a href="#">Yoga <span>111</span></a></li>
    </ul>
</div> <!-- /categories -->
