<div class="follow">
    <div class="follow__title title-small">follow @nobody</div>
    <ul class="follow__list">
        <li><a href="#"><img src="/temp-files/image-19.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-20.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-21.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-22.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-23.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-24.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-25.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-26.jpg" alt="" width="84" height="84"></a></li>
        <li><a href="#"><img src="/temp-files/image-27.jpg" alt="" width="84" height="84"></a></li>
    </ul>
</div> <!-- /follow -->
