<footer>
    <div class="footer__main">
        <div class="footer__follow">
            <div class="footer__follow-title">follow @nobody</div>
            <div class="footer__follow-links">
                <a href="#">
                    <svg preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="/images/sprite.svg#ico-socials-insta"></use>
                    </svg>
                    instagram
                </a>
            </div>
            <ul class="footer__follow-images">
                <li><a href="#"><img src="/temp-files/image-1.jpg" alt="" width="219" height="215"></a></li>
                <li><a href="#"><img src="/temp-files/image-2.jpg" alt="" width="219" height="215"></a></li>
                <li><a href="#"><img src="/temp-files/image-3.jpg" alt="" width="219" height="215"></a></li>
                <li><a href="#"><img src="/temp-files/image-4.jpg" alt="" width="219" height="215"></a></li>
                <li><a href="#"><img src="/temp-files/image-5.jpg" alt="" width="219" height="215"></a></li>
                <li><a href="#"><img src="/temp-files/image-6.jpg" alt="" width="219" height="215"></a></li>
                <li><a href="#"><img src="/temp-files/image-7.jpg" alt="" width="219" height="215"></a></li>
            </ul>
        </div> <!-- /footer__follow -->
        <div class="footer__socials">
            {% include 'socials.twig' %}
        </div>
        <div class="footer__ontop">
            <a href="#">on top</a>
        </div>
        <div class="footer__copy">Copyright &copy; 2009–2116 Nobody LLC.</div>
    </div>
</footer>
