<header>
    <div class="header__main">
        <div class="header__top">
            <div class="header__left">
                {% include 'navbar.twig' %}
            </div>
            <div class="header__right">
                {% include 'socials.twig' %}
            </div>
        </div>
        <div class="header__bot">
            {% include 'logo.twig' %}
        </div>
    </div>
</header>
