<nav class="navbar">
    <ul class="navbar__main">
        <li>
            <a href="#">
                home
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                features
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="active">
                posttypes
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                pages
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                categories
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                contact
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
