<div class="resent">
    <div class="resent__title title-small">resent posts</div>
    <ul class="resent__list">
        <li class="resent__item">
            <a href="#" class="resent__item-wrap">
                <img src="/temp-files/image-20.jpg" alt="" width="70" height="70" class="resent__image">
                <span class="resent__date">June 14, 2015</span>
                <span class="resent__text">Lorem Ipsum Dolor available.</span>
            </a>
        </li>
        <li class="resent__item">
            <a href="#" class="resent__item-wrap">
                <img src="/temp-files/image-28.jpg" alt="" width="70" height="70" class="resent__image">
                <span class="resent__date">June 14, 2015</span>
                <span class="resent__text">Lorem Ipsum Dolor available.</span>
            </a>
        </li>
        <li class="resent__item">
            <a href="#" class="resent__item-wrap">
                <img src="/temp-files/image-21.jpg" alt="" width="70" height="70" class="resent__image">
                <span class="resent__date">June 14, 2015</span>
                <span class="resent__text">Lorem Ipsum Dolor available.</span>
            </a>
        </li>
        <li class="resent__item">
            <a href="#" class="resent__item-wrap">
                <img src="/temp-files/image-22.jpg" alt="" width="70" height="70" class="resent__image">
                <span class="resent__date">June 14, 2015</span>
                <span class="resent__text">Lorem Ipsum Dolor available.</span>
            </a>
        </li>
        <li class="resent__item">
            <a href="#" class="resent__item-wrap">
                <img src="/temp-files/image-23.jpg" alt="" width="70" height="70" class="resent__image">
                <span class="resent__date">June 14, 2015</span>
                <span class="resent__text">Lorem Ipsum Dolor available.</span>
            </a>
        </li>
    </ul>
</div> <!-- /resent -->
