<div class="rubrics">
    <div class="rubrics__inner">
        <ul>
            <li>
                <div class="rubrics__item">
                    <div class="rubrics__item-inner">
                        <div class="rubrics__item-content">
                            <div class="rubrics__item-title">beauty   health  lifestyle</div>
                            <div class="rubrics__item-desc">FROM GRAPEFRUIT TO LEMONS TO ORANGES, CITRUS DOES YOU GOOD!</div>
                            <div class="rubrics__item-date"> June 14, 2015</div>
                            <div class="rubrics__item-posts">
                                <svg preserveAspectRatio="xMidYMid meet">
                                    <use xlink:href="/images/sprite.svg#ico-send-msg-solid"></use>
                                </svg>
                                24
                            </div>
                        </div>
                    </div>
                    <img src="/temp-files/image-8.jpg" alt="" width="519" height="359" class="rubrics__item-back">
                </div>
            </li>
            <li>
                <div class="rubrics__item">
                    <div class="rubrics__item-inner">
                        <div class="rubrics__item-content">
                            <div class="rubrics__item-title">health</div>
                            <div class="rubrics__item-desc">5 Tips To Supercharge Your Motivation</div>
                            <div class="rubrics__item-date"> June 14, 2015</div>
                            <div class="rubrics__item-posts">
                                <svg preserveAspectRatio="xMidYMid meet">
                                    <use xlink:href="/images/sprite.svg#ico-send-msg-solid"></use>
                                </svg>
                                2
                            </div>
                        </div>
                    </div>
                    <img src="/temp-files/image-9.jpg" alt="" width="519" height="359" class="rubrics__item-back">
                </div>
            </li>
            <li>
                <div class="rubrics__item">
                    <div class="rubrics__item-inner">
                        <div class="rubrics__item-content">
                            <div class="rubrics__item-title">beauty</div>
                            <div class="rubrics__item-desc">To Keep Makeup Looking Fresh Take A Powder</div>
                            <div class="rubrics__item-date"> June 14, 2015</div>
                            <div class="rubrics__item-posts">
                                <svg preserveAspectRatio="xMidYMid meet">
                                    <use xlink:href="/images/sprite.svg#ico-send-msg-solid"></use>
                                </svg>
                                12
                            </div>
                        </div>
                    </div>
                    <img src="/temp-files/image-10.jpg" alt="" width="519" height="359" class="rubrics__item-back">
                </div>
            </li>
        </ul>
    </div>
</div> <!-- /rubrics -->
