
<div class="searchform">
    <form action="#" method="post">
    <div class="form-item form-text">
        <input type="text" placeholder="Search...">
    </div>
    <div class="form-item form-submit form-submit-search">
        <input type="submit" value="">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-magnifier"></use>
        </svg>
    </div>
    </form>
</div> <!-- /searchform -->
