<div class="socials">
    <ul class="socials__main">
        <li>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-tw"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-fb"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-in"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-insta"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-google"></use>
                </svg>
            </a>
        </li>
    </ul>
</div> <!-- /socials -->
