<div class="subscribe">
    <div class="subscribe__title title-small">newsletter</div>
    <div class="subscribe__form">
        <div class="form-item form-email">
            <input type="email" placeholder="Your email address" value="" class="form-input-email">
        </div>
        <div class="form-item form-submit">
            <input type="submit" value="subscribe" class="form-input-submit">
        </div>
    </div> <!-- /subscribe__form -->
</div> <!-- /subscribe -->
