<div class="tags">
    <div class="tags__title title-small">tags</div>
    <ul class="tags__list">
        <li><a href="#">fashion</a></li>
        <li><a href="#">music</a></li>
        <li><a href="#" class="active">lorem tag</a></li>
        <li><a href="#">tag</a></li>
        <li><a href="#">ipsum tag</a></li>
        <li><a href="#">travel</a></li>
        <li><a href="#">health</a></li>
        <li><a href="#">music</a></li>
    </ul>
</div> <!-- /tags -->
