<div class="widget-fb">
    <div class="widget-fb__title title-small">find us on facebook</div>
    <div class="widget-fb__main">
        <img src="/temp-files/image-30.jpg" alt="">
    </div>
</div> <!-- /widget-fb -->
