
<section class="regist regist_swap">
  <div class="regist__left">
    <h3 class="regist__title">Давайте принесём результат Вашему бизнесу? Завалите своей отдел продаж Лидами!</h3>
    <button class="button button_regist">Зарегистрироваться</button>
  </div>
  <div class="regist__right">
    <img src="images/tmp-image-11.png" alt="" class="regist__image">
  </div>
</section>
