
<section class="regist">
  <div class="regist__left">
    <h3 class="regist__title">Зарегистрируйтесь и добавьте свой проект в систему — начните получать Лидов сегодня!</h3>
    <button class="button button_regist">Зарегистрироваться</button>
  </div>
  <div class="regist__right">
    <img src="images/tmp-image-11.png" alt="" class="regist__image">
  </div>
</section>
