
<section class="lidcosts">
  <h3 class="lidcosts__title">
    Стоимость технологий
    <span>&laquo;Лид Конвейер&raquo;</span>
  </h3>
  <p class="lidcosts__subtitle">Оптимальные тарифы и цены на получение готовых Лидов и заявок с вашего сайта, без переплаты и абонентской платы</p>
  <ul class="lidcosts__card_list">
    <li class="lidcosts__card_list_item">
      <div class="lidcosts__type">
        Старт
        <svg preserveAspectRatio="xMidYMid meet">
          <use xlink:href="images/sprite.svg#star-colored-1"></use>
        </svg>
      </div>
      <h4 class="lidcosts__item_title">50 готовых лидов<br> за <span>22 500 ₽</span></h4>
      <p class="lidcosts__item_text">Стартовый пакет для тех, кто   хочет купить Лидов со   своего сайта и   повысить свои продаж</p>
      <ul class="lidcosts__card_list_info">
        <li class="lidcosts__card_list_info_item">
          50 Лидов
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          450 ₽ за один Лид
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          Получение за 5–7 дней
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
      </ul>
      <button class="button lidcosts__card_list_info_btn">КУПИТЬ</button>
    </li>
    <li class="lidcosts__card_list_item lidcosts__card_list_item_checked">
      <div class="lidcosts__type">
        Стандарт
        <svg preserveAspectRatio="xMidYMid meet">
          <use xlink:href="images/sprite.svg#star-colored-1"></use>
        </svg>
      </div>
      <h4 class="lidcosts__item_title">100 готовых лидов<br> за <span>40 000 ₽</span></h4>
      <p class="lidcosts__item_text">Оптимальный пакет Лидов для   любого отдела продаж и   для   повышения продаж своих товаров или   услуг</p>
      <ul class="lidcosts__card_list_info">
        <li class="lidcosts__card_list_info_item">
          100 Лидов
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-white"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          400 ₽ за один Лид
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-white"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          Получение за 7–14 дней
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-white"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          Возможность показа Лидам рекламы через Яндекс.Директ
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-white"></use>
          </svg>
        </li>
      </ul>
      <button class="button lidcosts__card_list_info_btn">КУПИТЬ</button>
    </li>
    <li class="lidcosts__card_list_item">
      <div class="lidcosts__type">
        Премиум
        <svg preserveAspectRatio="xMidYMid meet">
          <use xlink:href="images/sprite.svg#star-colored-1"></use>
        </svg>
      </div>
      <h4 class="lidcosts__item_title">300 готовых лидов<br> за <span>90 000 ₽</span></h4>
      <p class="lidcosts__item_text">Максимум целевых Лидов в   ближайшее время для   вашего бизнеса которые уже   завтра могут стать Вашими клиентами!</p>
      <ul class="lidcosts__card_list_info">
        <li class="lidcosts__card_list_info_item">
          300 Лидов
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          300 ₽ за один Лид
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          Получение за 14–30 дней
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          Возможность показа Лидам рекламы через Яндекс.Директ
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
        <li class="lidcosts__card_list_info_item">
          Готовый и конверсионный скрипт продаж целевым Лидам
          <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-checked-1-black"></use>
          </svg>
        </li>
      </ul>
      <button class="button lidcosts__card_list_info_btn">КУПИТЬ</button>
    </li>
  </ul>
</section>
