
<section class="aservice">
  <h3 class="aservice__title">Дополнительные услуги</h3>
  <ul class="aservice__card_list">
    <li class="aservice__card">
      <h4 class="aservice__card_title">Создание промо-страницы</h4>
      <div class="aservice__card_price">от <span>15 000 ₽</span></div>
      <button class="button aservice__card_btn">купить</button>
    </li>
    <li class="aservice__card">
      <h4 class="aservice__card_title">Настройка и ведение Яндекс.Директ</h4>
      <div class="aservice__card_price">от <span>10 000 ₽</span></div>
      <button class="button aservice__card_btn">купить</button>
    </li>
  </ul>
</section>
