
<nav class="footer__navbar">
    <ul class="footer__navbar_list">
        <li class="footer__navbar_list_item"><a href="#" class="footer__navbar_link">Блог</a></li>
        <li class="footer__navbar_list_item"><a href="#" class="footer__navbar_link">Договор-оферта</a></li>
        <li class="footer__navbar_list_item"><a href="#" class="footer__navbar_link">Политика конфиденциальности</a></li>
        <li class="footer__navbar_list_item"><a href="#" class="footer__navbar_link">Соглашение об обработке данных</a></li>
        <li class="footer__navbar_list_item"><a href="#" class="footer__navbar_link">Вход в личный кабинет</a></li>
    </ul>
</nav>
