
<section class="faq">
  <h4 class="faq__title">Вопросы и ответы</h4>
  <div class="faq__main">
    <div class="faq__left">

      <ul class="faq__accordion">
        <li class="faq__accordion_item">
          <a href="#" class="faq__accordion_btn">
            На сколько это безопасно, законно и может ли навредить моему сайту?
            <svg preserveAspectRatio="xMidYMid meet">
              <use xlink:href="../images/sprite.svg#ico-plus"></use>
            </svg>
          </a>
        </li>
        <li class="faq__accordion_item">
          <a href="#" class="faq__accordion_btn">
            Откуда берутся номера телефонов?
            <svg preserveAspectRatio="xMidYMid meet">
              <use xlink:href="../images/sprite.svg#ico-plus"></use>
            </svg>
          </a>
        </li>
        <li class="faq__accordion_item">
          <a href="#" class="faq__accordion_btn">
            Смогу ли я сам установить код на сайт?
            <svg preserveAspectRatio="xMidYMid meet">
              <use xlink:href="../images/sprite.svg#ico-plus"></use>
            </svg>
          </a>
        </li>
        <li class="faq__accordion_item">
          <a href="#" class="faq__accordion_btn">
            На какую CMS или конструктор можно установить код «Лид Конвейер»?
            <svg preserveAspectRatio="xMidYMid meet">
              <use xlink:href="../images/sprite.svg#ico-plus"></use>
            </svg>
          </a>
        </li>
        <li class="faq__accordion_item">
          <a href="#" class="faq__accordion_btn">
            Как оплатить ваш сервис?
            <svg preserveAspectRatio="xMidYMid meet">
              <use xlink:href="../images/sprite.svg#ico-plus"></use>
            </svg>
          </a>
        </li>
      </ul>

    </div>
    <div class="faq__right">
      <img src="images/tmp-image-17.png" alt="" class="faq__image">
    </div>
  </div>
</section>
