
@import "../settings";

.whywe__list_top {
  display:         flex;
  flex-direction:  row;
  align-items:     stretch;
  justify-content: stretch;
  gap:             20px;

  margin: 0 0 27px;

  @media (max-width: $page-w-tablet-bigger) {
    flex-direction: column;
  }
}
