
@import "../settings";

.whywe__title {
  font:       700 48px/100% "Montserrat";
  font-size:  min(2.5vw, 48px);
  text-align: center;

  display:        flex;
  flex-direction: column;

  margin: 0 0 26px;

  span {
    color: $color-orange-1;
  }

  @media (max-width: $page-w-tablet-big) {
    font-size: min(3.5vw, 48px);
  }
}

.whywe__title_sub {
  font:       400 32px/120% "Inter";
  font-size:  min(1.67vw, 32px);
  text-align: center;

  width:  49.7191%;
  margin: 0 auto 39px;

  @media (max-width: $page-w-tablet-big) {
    font-size: min(3vw, 32px);
  }

  @media (max-width: $page-w-tablet-bigger) {
    width: 80%;
  }
}
