
@import "../settings";

.whywe__list_top_text {
  font:      400 24px/120% "Inter";
  font-size: min(1.25vw, 24px);

  padding: 0 40px 0 0;

  @media (max-width: $page-w-tablet-big) {
    font-size: min(3vw, 24px);
  }

  @media (max-width: $page-w-desktop-middle) {
    padding-right: 0;
  }
}
