
@import "../settings";

.whywe__list_bot_text {
  font:      400 24px/120% "Inter";
  font-size: min(1.25vw, 24px);
  color:     $color-gray-3;

  strong {
    font-weight: 700;
    line-height: 100%;
  }

  @media (max-width: $page-w-desktop-middle) {
    font-size: min(3vw, 24px);
  }
}
