
<section class="lidtar">
  <h3 class="lidtar__title">Завалим ваш отдел продаж <span>целевыми Лидами</span></h3>
  <ul class="lidtar__list">
    <li class="lidtar__list_item">
      <div class="lidtar__list_col">
        <h4 class="lidtar__list_item_title">Оплата за результат</h4>
        <p class="lidtar__list_item_text">Вы платите только за переданные и получение вами целевые Лиды — их контактные данные (телефон, Telegram, email)</p>
      </div>
      <div class="lidtar__list_col">
        <img src="images/tmp-image-2.png" alt="" class="lidtar__list_item_img">
      </div>
    </li>
    <li class="lidtar__list_item">
      <div class="lidtar__list_col">
        <h4 class="lidtar__list_item_title">Качественные лиды</h4>
        <p class="lidtar__list_item_text">Все  передаваемые вам  Лиды  — это  потенциальные клиенты, которые искали ваш  товар или  услугу</p>
      </div>
      <div class="lidtar__list_col">
        <img src="images/tmp-image-3.png" alt="" class="lidtar__list_item_img">
      </div>
    </li>
    <li class="lidtar__list_item">
      <div class="lidtar__list_col">
        <h4 class="lidtar__list_item_title">Любой объём — на ваш выбор</h4>
        <p class="lidtar__list_item_text">Покупайте сколько контактов потенциальных клиентов в месяц — сколько требуется вам!</p>
      </div>
      <div class="lidtar__list_col">
        <img src="images/tmp-image-4.png" alt="" class="lidtar__list_item_img">
      </div>
    </li>
    <li class="lidtar__list_item">
      <div class="lidtar__list_col">
        <h4 class="lidtar__list_item_title">Комплекс технологий</h4>
        <p class="lidtar__list_item_text">После   расчёта стоимости Лидов и оплаты выбранного пакета — вы   получите уникальный код для своего сайта, который позволит отслеживать контакты тех, кто   не   оставил заявку</p>
      </div>
      <div class="lidtar__list_col">
        <img src="images/tmp-image-5.png" alt="" class="lidtar__list_item_img">
      </div>
    </li>
  </ul>
</section>
