{% extends "partials/base-page-template.twig" %}
{% block content %}
    <div class="page__main">
        <section class="content">
            <div class="content__main">

                <div class="preview-fonts">
                    <div style="font-family:'Montserrat'">
                        <div class="preview-font">
                            <div style="font-weight:normal">Montserrat - Regular - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:normal;font-style:italic">Montserrat - Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:900">Montserrat - Bold 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:900;font-style:italic">Montserrat - Bold Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:300">Montserrat - Light 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:300;font-style:italic">Montserrat - Light Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:200">Montserrat - Ultra Light 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:200;font-style:italic">Montserrat - Ultra Light Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>

                    <div style="font-family:'Raleway'">
                        <div class="preview-font">
                            <div style="font-weight:normal">Raleway - Regular - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:normal;font-style:italic">Raleway - Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:900">Raleway - Bold - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:900;font-style:italic">Raleway - Bold Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:500">Raleway - Medium - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:500;font-style:italic">Raleway - Medium Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:800">Raleway - Extra Bold - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:800;font-style:italic">Raleway - Extra Bold Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:600">Raleway - Semi Bold - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:600;font-style:italic">Raleway - Semi Bold Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>

                    <div style="font-family:'Roboto'">
                        <div class="preview-font">
                            <div style="font-weight:normal">Roboto - Regular - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:normal;font-style:italic">Roboto - Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:900">Roboto - Bold - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                        <div class="preview-font">
                            <div style="font-weight:900;font-style:italic">Roboto - Bold Italic - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                </div> <!-- /preview-fonts -->

                <div class="preview-svg-icons">
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-fb"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-magnifier"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-magnifier-1"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-play-circled-1"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-link"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-mark-triangle"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-nav-mobile"></use>
                        </svg>
                    </div>
                </div> <!-- /preview-svg-icons -->

            </div><!-- /content__main -->
        </section>
    </div> <!-- /page__main -->
    <style type="text/css">
        .content__main
        {
            width:   1280px;
            margin:  0 auto;
            padding: 30px;
        }
        .preview-svg-icons
        {
            margin: 0 0 10px;
        }
        .preview-svg-ico
        {
            background-color: silver;
            width:            50px;
            height:           50px;
            fill:             #000;
            display:          inline-block;
            margin:           0 5px 5px 0;
        }
        .preview-svg-ico svg
        {
            width:  100%;
            height: 100%
        }
        .preview-fonts
        {
            margin: 0 0 30px;
        }
        .preview-fonts > div
        {
            margin: 0 0 30px;
        }
        .preview-font
        {
            font-size:   14px;
            line-height: 26px;
            background:  none #ccc;
            margin:      0 0 4px;
        }
    </style>
{% endblock %}
