
@import "../settings";

.aservice__card {
  background: $color-gray-7;

  border-radius: 35px;
  flex-basis:    730px;
  padding:       40px;
  box-sizing:    border-box;

  @media (max-width: $page-w-desktop-middle){
    //flex-basis: 600px;
    flex-basis: unset;
  }

  @media (max-width: $page-w-tablet-big){
    margin: 0 30px;
  }
}
