<div class="content-block-3">
    <div class="content-block-3__inner">
        <div class="content-block-3__title">Our Latest Projects.</div>
        <div class="content-block-3__text">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>

        {% include 'tabs.twig' %}

    </div>
</div> <!-- /content-block-3 -->
