<div class="content-block-1">
    <div class="content-block-1__inner">
        {% include 'hslider.twig' %}
    </div>
    <img src="/temp-files/image-1.jpg" alt="" width="1920" height="1024" class="content-block-1__back">
</div> <!-- /content-block-1 -->
