<div class="content-bottom">
    <div class="content-bottom__inner">

        <div class="content-bottom__col">
            {% set logo_add_class = 'content-bottom__logo' %}
            {% include 'logo.twig' %}
            <p class="content-bottom__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.</p>
            <a href="#" class="content-bottom__readmore">Read More</a>
        </div> <!-- /content-bottom__col -->

        <div class="content-bottom__col">
            <div class="content-bottom__title">Recent Posts</div>
            <ul class="content-bottom__posts">
                <li>
                    <div class="content-bottom__post-date">September 08, 2015</div>
                    <p class="content-bottom__post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                </li>
                <li>
                    <div class="content-bottom__post-date">September 08, 2015</div>
                    <p class="content-bottom__post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                </li>
                <li>
                    <div class="content-bottom__post-date">September 08, 2015</div>
                    <p class="content-bottom__post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                </li>
            </ul>
        </div> <!-- /content-bottom__col -->

        <div class="content-bottom__col">
            <div class="content-bottom__title">Our Twitter</div>
            <ul class="content-bottom__tweets">
                <li>
                    <p class="content-bottom__tweets-text"><a href="#" class="content-bottom__tweets-tag">@waxom</a> Cum soluta nobis eleifend option congue nihil imperdiet doming</p>
                    <div class="content-bottom__tweets-time">3 mins ago</div>
                </li>
                <li>
                    <p class="content-bottom__tweets-text">Mirum est <a href="#" class="content-bottom__tweets-tag">#envato</a> notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum</p>
                    <div class="content-bottom__tweets-time">3 mins ago</div>
                </li>
                <li>
                    <p class="content-bottom__tweets-text">Soluta nobis option <a href="#" class="content-bottom__tweets-link">bit.ly/1Hniso7</a></p>
                    <div class="content-bottom__tweets-time">3 mins ago</div>
                </li>
            </ul>
        </div> <!-- /content-bottom__col -->

        <div class="content-bottom__col">
            <div class="content-bottom__title">Dribbble Widget</div>
            <div class="content-bottom__widget-placeholder">
                <img src="/temp-files/image-14.jpg" alt="">
            </div>
        </div> <!-- /content-bottom__col -->

    </div> <!-- /content-bottom__inner -->
</div> <!-- /content-bottom -->
