<div class="content-block-2">
    <div class="content-block-2__inner">
        <div class="content-block-2__item">
            <a href="#">
                <span class="content-block-2__item-ico">
                    <svg preserveAspectRatio="xMidYMid meet" width="49" height="49">
                        <use xlink:href="/images/sprite.svg#ico-wwd-1"></use>
                    </svg>
                </span>
                <span class="content-block-2__item-title">Web &amp; App Design</span>
                <span class="content-block-2__item-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</span>
            </a>
        </div> <!-- /content-block-2__item -->
        <div class="content-block-2__item active">
            <a href="#">
                <span class="content-block-2__item-ico">
                    <svg preserveAspectRatio="xMidYMid meet" width="45" height="40">
                        <use xlink:href="/images/sprite.svg#ico-wwd-2"></use>
                    </svg>
                </span>
                <span class="content-block-2__item-title">Development</span>
                <span class="content-block-2__item-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</span>
            </a>
        </div> <!-- /content-block-2__item -->
        <div class="content-block-2__item">
            <a href="#">
                <span class="content-block-2__item-ico">
                    <svg preserveAspectRatio="xMidYMid meet" width="45" height="44">
                        <use xlink:href="/images/sprite.svg#ico-wwd-3"></use>
                    </svg>
                </span>
                <span class="content-block-2__item-title">Customization</span>
                <span class="content-block-2__item-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</span>
            </a>
        </div> <!-- /content-block-2__item -->
        <div class="content-block-2__item">
            <a href="#">
                <span class="content-block-2__item-ico">
                    <svg preserveAspectRatio="xMidYMid meet" width="52" height="36">
                        <use xlink:href="/images/sprite.svg#ico-wwd-4"></use>
                    </svg>
                </span>
                <span class="content-block-2__item-title">Marketing</span>
                <span class="content-block-2__item-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</span>
            </a>
        </div> <!-- /content-block-2__item -->
    </div> <!-- /content-block-2__inner -->
</div> <!-- /content-block-1 -->
