<footer>
    <div class="footer__main">
        <ul class="footer__policy">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <div class="footer__copy">Copyright © 2015 <span>Waxom</span></div>
    </div> <!-- /footer__main -->
</footer>
