<header>
    <div class="header__main">
        {% include 'logo.twig' %}
        <div class="header__navbar">
            <ul class="header__navbar-main">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Shortcodes</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div> <!-- /header__navbar -->
        <div class="header__search">
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-magnifier"></use>
                </svg>
            </a>
        </div> <!-- /header__search -->
        <div class="mobile-navbar-btn">
            <svg preserveAspectRatio="xMidYMid meet">
                <use xlink:href="/images/sprite.svg#ico-nav-mobile"></use>
            </svg>
        </div>
    </div> <!-- /header__main -->
</header>
