<div class="hslider">
    <div class="hslider__viewport">
        <ul>
            <li>
                <div class="hslider__item hslider__item-1">
                    <div class="hslider__text-1">Unique and Modern Design</div>
                    <div class="hslider__text-2">Slider Page [1]</div>
                    <div class="hslider__text-3">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div>
                </div>
            </li>
            <li>
                <div class="hslider__item hslider__item-1">
                    <div class="hslider__text-1">Unique and Modern Design</div>
                    <div class="hslider__text-2">Slider Page [2]</div>
                    <div class="hslider__text-3">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div>
                </div>
            </li>
            <li>
                <div class="hslider__item hslider__item-1">
                    <div class="hslider__text-1">Unique and Modern Design</div>
                    <div class="hslider__text-2">Slider Page [3]</div>
                    <div class="hslider__text-3">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div>
                </div>
            </li>
            <li>
                <div class="hslider__item hslider__item-1">
                    <div class="hslider__text-1">Unique and Modern Design</div>
                    <div class="hslider__text-2">Slider Page [4]</div>
                    <div class="hslider__text-3">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div>
                </div>
            </li>
            <li>
                <div class="hslider__item hslider__item-1">
                    <div class="hslider__text-1">Unique and Modern Design</div>
                    <div class="hslider__text-2">Slider Page [5]</div>
                    <div class="hslider__text-3">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="hslider__prev">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
        </svg>
    </div>
    <div class="hslider__next">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
        </svg>
    </div>
    <ul class="hslider__navbar"></ul> <!-- /hslider__navbar -->
</div> <!-- /hslider -->
