<div class="logos">
    <div class="logos__inner">
        <div class="logos__col-left"></div>
        <div class="logos__col-main">
            <a href="#" class="logos__item1"><img src="/temp-files/logo-01.png" alt="" width="210" height="127"></a>
            <a href="#" class="logos__item2"><img src="/temp-files/logo-02.png" alt="" width="210" height="210"></a>
            <a href="#" class="logos__item3"><img src="/temp-files/logo-03.png" alt="" width="210" height="130"></a>
            <a href="#" class="logos__item4"><img src="/temp-files/logo-04.png" alt="" width="210" height="164"></a>
        </div>
        <div class="logos__col-right"></div>
    </div> <!-- /logos__inner -->
    <img src="/temp-files/image-13.jpg" alt="" class="logos__back">
</div> <!-- /logos -->
