<div class="mobiles">
    <div class="mobiles__inner">
        <div class="mobiles__title">Excellent for Mobile Devices.</div>
        <div class="mobiles__text">
            <p>Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
            <ul>
                <li>
                    <div class="mobiles__list-mark">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                        </svg>
                    </div>
                    Nam liber tempor cum soluta nobis eleifend option;
                </li>
                <li>
                    <div class="mobiles__list-mark">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                        </svg>
                    </div>
                    Option congue nihil imperdiet doming id quod mazim placerat facer;
                </li>
                <li>
                    <div class="mobiles__list-mark">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                        </svg>
                    </div>
                    Eodem modo typi, qui nunc nobis videntur parum futurum;
                </li>
                <li>
                    <div class="mobiles__list-mark">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                        </svg>
                    </div>
                    Investigationes demonstraverunt lectores
                </li>
            </ul>
        </div>
    </div> <!-- /mobiles__inner -->
    <img src="/temp-files/image-9.jpg" alt="" class="mobiles__image">
</div> <!-- /mobiles -->
