<div class="page-mobile">

    <div class="mobile__search">
        <form action="#" method="post">
            <div class="form-item form-item-search">
                <input type="search" class="form-search" placeholder="Search">
            </div>
            <div class="form-item form-item-submit">
                <input type="submit" class="form-submit">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-magnifier"></use>
                </svg>
            </div>
        </form>
    </div> <!-- /mobile__search -->

    <ul class="mobile__navbar">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Shortcodes</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</div> <!-- /page-mobile -->
