<div class="presentation">
    <div class="presentation__inner">
        <a href="#" class="btn-play">
            <svg preserveAspectRatio="xMidYMid meet">
                <use xlink:href="/images/sprite.svg#ico-play-circled-1"></use>
            </svg>
        </a>
        <div class="presentation__title">Waxom Video Presentation</div>
        <div class="presentation__desc">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.</div>
        <div class="presentation__time">03:26</div>
    </div>
    <img src="/temp-files/image-8.jpg" alt="" class="presentation__back">
</div> <!-- /presentation -->
