<div class="resent">
    <div class="resent__title">Recent Posts.</div>
    <div class="resent__text">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
    <div class="resent__slider">
        <div class="resent__slides-list">
            <div class="resent__item">
                <div class="resent__top">
                    <img src="/temp-files/image-10.jpg" alt="" class="resent__image">
                    <div class="resent__overlay"></div>
                    <div class="resent__date">
                        <div class="resent__day">30</div>
                        <div class="resent__mon">sep.</div>
                    </div>
                </div>
                <div class="resent__content">
                    <div class="resent__ctitle">Lorem ipsum dolor sit amet</div>
                    <div class="resent__ctext">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
                    <a href="#" class="resent__readmore">read more</a>
                </div>
            </div> <!-- /.resent__item -->
            <div class="resent__item">
                <div class="resent__top">
                    <img src="/temp-files/image-11.jpg" alt="" class="resent__image">
                    <div class="resent__overlay"></div>
                    <div class="resent__date">
                        <div class="resent__day">30</div>
                        <div class="resent__mon">sep.</div>
                    </div>
                </div>
                <div class="resent__content">
                    <div class="resent__ctitle">Lorem ipsum dolor sit amet</div>
                    <div class="resent__ctext">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
                    <a href="#" class="resent__readmore">read more</a>
                </div>
            </div> <!-- /.resent__item -->
            <div class="resent__item">
                <div class="resent__top">
                    <img src="/temp-files/image-12.jpg" alt="" class="resent__image">
                    <div class="resent__overlay"></div>
                    <div class="resent__date">
                        <div class="resent__day">30</div>
                        <div class="resent__mon">sep.</div>
                    </div>
                </div>
                <div class="resent__content">
                    <div class="resent__ctitle">Lorem ipsum dolor sit amet</div>
                    <div class="resent__ctext">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
                    <a href="#" class="resent__readmore">read more</a>
                </div>
            </div> <!-- /.resent__item -->
        </div> <!-- /resent__slides-list -->
        <div class="resent__nav">
            <a href="#" class="resent__prev resent__nav-btn--disabled">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                </svg>
            </a>
            <a href="#" class="resent__next">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                </svg>
            </a>
        </div> <!-- /resent__nav -->
    </div> <!-- /resent__slider -->
</div> <!-- /resent -->
