<div class="stats">
    <div class="stats__inner">

        <div class="stats__item">
            <div class="stats__icon">
                <div class="stats__icon-placeholder stats__icon-placeholder-1"></div>
            </div>
            <div class="stats__count">1908</div>
            <div class="stats__title">Satisfied Clients</div>
        </div> <!-- /stats__item -->

        <div class="stats__item">
            <div class="stats__icon">
                <div class="stats__icon-placeholder stats__icon-placeholder-2"></div>
            </div>
            <div class="stats__count">207</div>
            <div class="stats__title">cups of coffee</div>
        </div> <!-- /stats__item -->

        <div class="stats__item">
            <div class="stats__icon">
                <div class="stats__icon-placeholder stats__icon-placeholder-3"></div>
            </div>
            <div class="stats__count">1207</div>
            <div class="stats__title">blog posts</div>
        </div> <!-- /stats__item -->

        <div class="stats__item">
            <div class="stats__icon">
                <div class="stats__icon-placeholder stats__icon-placeholder-4"></div>
            </div>
            <div class="stats__count">120</div>
            <div class="stats__title">likes</div>
        </div> <!-- /stats__item -->

        <div class="stats__item">
            <div class="stats__icon">
                <div class="stats__icon-placeholder stats__icon-placeholder-5"></div>
            </div>
            <div class="stats__count">120</div>
            <div class="stats__title">we launched</div>
        </div> <!-- /stats__item -->

    </div> <!-- /stats__inner -->
</div> <!-- /stats -->
