<div class="tabs">
    <ul class="tabs__btns">
        <li><a href="#" class="active">All</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Mobile App</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Photography</a></li>
    </ul> <!-- /tabs__btns -->
    <div class="tabs__pages">
        <div class="tabs__page page-1">
            <div class="tabs__item">
                <div class="tabs__image">
                    <div class="tabs__links">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-link"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-magnifier-1"></use>
                            </svg>
                        </a>
                    </div> <!-- /tabs__links -->
                    <img src="/temp-files/image-2.jpg" alt="">
                </div>
                <div class="tabs__content">
                    <div class="tabs__title">Claritas Etiam Processus</div>
                    <div class="tabs__text">Photography, Nature</div>
                    <svg preserveAspectRatio="xMidYMid meet" class="tabs__mark">
                        <use xlink:href="/images/sprite.svg#ico-mark-triangle"></use>
                    </svg>
                </div>
            </div> <!-- /tabs__item -->
            <div class="tabs__item">
                <div class="tabs__image">
                    <div class="tabs__links">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-link"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-magnifier-1"></use>
                            </svg>
                        </a>
                    </div> <!-- /tabs__links -->
                    <img src="/temp-files/image-3.jpg" alt="">
                </div>
                <div class="tabs__content">
                    <div class="tabs__title">Claritas Etiam Processus</div>
                    <div class="tabs__text">Photography, Nature</div>
                    <svg preserveAspectRatio="xMidYMid meet" class="tabs__mark">
                        <use xlink:href="/images/sprite.svg#ico-mark-triangle"></use>
                    </svg>
                </div>
            </div> <!-- /tabs__item -->
            <div class="tabs__item">
                <div class="tabs__image">
                    <div class="tabs__links">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-link"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-magnifier-1"></use>
                            </svg>
                        </a>
                    </div> <!-- /tabs__links -->
                    <img src="/temp-files/image-4.jpg" alt="">
                </div>
                <div class="tabs__content">
                    <div class="tabs__title">Claritas Etiam Processus</div>
                    <div class="tabs__text">Photography, Nature</div>
                    <svg preserveAspectRatio="xMidYMid meet" class="tabs__mark">
                        <use xlink:href="/images/sprite.svg#ico-mark-triangle"></use>
                    </svg>
                </div>
            </div> <!-- /tabs__item -->
            <div class="tabs__item">
                <div class="tabs__image">
                    <div class="tabs__links">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-link"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-magnifier-1"></use>
                            </svg>
                        </a>
                    </div> <!-- /tabs__links -->
                    <img src="/temp-files/image-5.jpg" alt="">
                </div>
                <div class="tabs__content">
                    <div class="tabs__title">Claritas Etiam Processus</div>
                    <div class="tabs__text">Photography, Nature</div>
                    <svg preserveAspectRatio="xMidYMid meet" class="tabs__mark">
                        <use xlink:href="/images/sprite.svg#ico-mark-triangle"></use>
                    </svg>
                </div>
            </div> <!-- /tabs__item -->
            <div class="tabs__item">
                <div class="tabs__image">
                    <div class="tabs__links">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-link"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-magnifier-1"></use>
                            </svg>
                        </a>
                    </div> <!-- /tabs__links -->
                    <img src="/temp-files/image-6.jpg" alt="">
                </div>
                <div class="tabs__content">
                    <div class="tabs__title">Claritas Etiam Processus</div>
                    <div class="tabs__text">Photography, Nature</div>
                    <svg preserveAspectRatio="xMidYMid meet" class="tabs__mark">
                        <use xlink:href="/images/sprite.svg#ico-mark-triangle"></use>
                    </svg>
                </div>
            </div> <!-- /tabs__item -->
            <div class="tabs__item">
                <div class="tabs__image">
                    <div class="tabs__links">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-link"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-magnifier-1"></use>
                            </svg>
                        </a>
                    </div> <!-- /tabs__links -->
                    <img src="/temp-files/image-7.jpg" alt="">
                </div>
                <div class="tabs__content">
                    <div class="tabs__title">Claritas Etiam Processus</div>
                    <div class="tabs__text">Photography, Nature</div>
                    <svg preserveAspectRatio="xMidYMid meet" class="tabs__mark">
                        <use xlink:href="/images/sprite.svg#ico-mark-triangle"></use>
                    </svg>
                </div>
            </div> <!-- /tabs__item -->
            <div class="tabs__more">
                <a href="#" class="btn-load-more">load more</a>
            </div> <!-- /tabs__more -->
        </div> <!-- /tabs__page -->
    </div> <!-- /tabs__pages -->
</div> <!-- /tabs -->
