
<section class="slider">
  <ul class="slider__viewport">
    <li class="slider__frame">
      <div class="slider__content">
        <h3 class="slider__content_title">Как это работает?</h3>
        <div class="slider__content_main">
          <div class="slider__content_left">
            <h4 class="slider__content_sub">01</h4>
            <p class="slider__content_text">Регистрация и добавление проекта в систему</p>
          </div>
          <div class="slider__content_right">
            <ul class="slider__content_list">
              <li class="slider__content_list_item">Зарегистрируйтесь в нашем личном кабинете</li>
              <li class="slider__content_list_item">При добавление проекта вам необходимо указать URL (адрес) своего сайта</li>
              <li class="slider__content_list_item">Для вашего сайта будет сгенерирован уникальный код, который необходимо установить на свой сайт (в шаблоне сайта, перед тегом </head>)</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="slider__frame">
      <div class="slider__content">
        slider__content
      </div>
    </li>
  </ul>
  <ul class="slider__pager">
    <li class="slider__pager_item marker active"></li>
    <li class="slider__pager_item marker"></li>
    <li class="slider__pager_item marker"></li>
    <li class="slider__pager_item marker"></li>
  </ul>
</section>
