
<section class="clients">
  <h3 class="clients__title">Клиенты, которые уже покупают <span>Лидов для своего бизнеса</span></h3>
  <h4 class="clients__title_sub">Более 5000 компаний по всей России уже используют покупку Лидов!</h4>
  <ul class="clients__list">
    <li class="clients__list_item">
      <img src="images/tmp-image-6.png" alt="">
    </li>
    <li class="clients__list_item">
      <img src="images/tmp-image-7.png" alt="">
    </li>
    <li class="clients__list_item">
      <img src="images/tmp-image-8.png" alt="">
    </li>
    <li class="clients__list_item">
      <img src="images/tmp-image-9.png" alt="">
    </li>
  </ul>
</section>
