
<section class="whywe">
  <h3 class="whywe__title">Почему лучше <span>заказать Лидов у нас</span></h3>
  <h4 class="whywe__title_sub">Лидогенерация — это стабильное получение клиентов и выполнение плана по продажам!</h4>
  <ul class="whywe__list_top">
    <li class="whywe__list_top_item">
      <h5 class="whywe__list_top_title">01</h5>
      <p class="whywe__list_top_text">Только качественные Лиды. Мы идентифицируем только тех посетителей, которым интересна ваша услуги и из вашего города.</p>
    </li>
    <li class="whywe__list_top_item">
      <h5 class="whywe__list_top_title">02</h5>
      <p class="whywe__list_top_text">Доступная цена и отсутствие минимального порога. У нас отсутствует минимальная плата за сервис, подписка и т.п. Вы покупаете столько Лидов — сколько хотите!</p>
    </li>
    <li class="whywe__list_top_item">
      <h5 class="whywe__list_top_title">03</h5>
      <p class="whywe__list_top_text">Техническая поддержка и комплекс услуг. Мы работаем для вас 24/7!</p>
    </li>
  </ul>
  <ul class="whywe__list_bot">
    <li class="whywe__list_bot_item">
      <img src="images/tmp-image-12.png" alt="" class="whywe__list_bot_ico">
      <p class="whywe__list_bot_text"><strong>Источник Лидов:</strong><br>контекстная реклама в Яндекс.Директ, SEO, SMM и другая реклама дополняют технологию «Лид Конвейер».</p>
    </li>
    <li class="whywe__list_bot_item">
      <img src="images/tmp-image-13.png" alt="" class="whywe__list_bot_ico">
      <p class="whywe__list_bot_text"><strong>Вы экономите на рекламе:</strong><br>получая контактные данных тех, кто не оставил заявки, но заинтересован в Вашем товаре или услуге — это дополнительный канал продаж.</p>
    </li>
    <li class="whywe__list_bot_item">
      <img src="images/tmp-image-14.png" alt="" class="whywe__list_bot_ico">
      <p class="whywe__list_bot_text"><strong>Вы сможете прогнозировать продажи:</strong><br>чтобы не ждать, когда-же кто‑то позвонит или оставит заявку, звоните и продавайте первым!</p>
    </li>
    <li class="whywe__list_bot_item">
      <img src="images/tmp-image-15.png" alt="" class="whywe__list_bot_ico">
      <p class="whywe__list_bot_text"><strong>Безопасно:</strong><br>это абсолютно легальный и законный метод получения Лидов.</p>
    </li>
    <li class="whywe__list_bot_item">
      <img src="images/tmp-image-16.png" alt="" class="whywe__list_bot_ico">
      <p class="whywe__list_bot_text"><strong>Быстро:</strong><br>запуск и получение первых Лидов обычно занимает 5–7 дней, а добавление проекта в систему менее 1 часа.</p>
    </li>
  </ul>
</section>
