
@import "../settings";

.tabs__list_item {
  display:         inherit;
  align-items:     stretch;
  justify-content: stretch;
  flex-basis:      280px;

  background: $color-white;

  border-radius: 28px 28px 0 0;

  @media (max-width: $page-w-tablet-bigger) {
    flex-basis:    100%;

    border-radius: 10px;
    margin:        0 0 10px;
  }
}
