{% extends "partials/base-page-template.twig" %}
{% block content %}
    <div class="page__main">
        <section class="content">
            <div class="content__main" style="width:1280px;margin:0 auto">

                <div style="font-family:'OpenSans';font-size:15px;line-height:120%">
                    <div style="font-weight:normal">OpenSans - Regular 12345#$%^&@#</div>
                    <div style="font-weight:normal;font-style:italic">OpenSans - Italic 12345#$%^&@#</div>
                    <div style="font-weight:900">OpenSans - Bold 12345#$%^&@#</div>
                    <div style="font-weight:900;font-style:italic">OpenSans - Bold Italic 12345#$%^&@#</div>
                    <div style="font-weight:200">OpenSans - Light 12345#$%^&@#</div>
                    <div style="font-weight:200;font-style:italic">OpenSans - Light Italic 12345#$%^&@#</div>
                </div><br>
                <div style="font-family:'Raleway';font-size:15px;line-height:120%">
                    <div style="font-weight:normal">Raleway - Regular 12345#$%^&@#</div>
                    <div style="font-weight:900">Raleway - Bold 12345#$%^&@#</div>
                </div><br>
                <div style="font-family:'MrsSheppards';font-size:15px;font-weight:normal">MrsSheppards 12345#$%^&@#</div><br>
                <div style="font-family:'JosefinSans';font-size:15px;font-weight:900">JosefinSans - Bold 12345#$%^&@#</div>
                <br>

                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-socials-fb"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-socials-tw"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-socials-in"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-socials-insta"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-socials-google"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-socials-pint"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-send-msg"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-send-msg-solid"></use>
                    </svg>
                </div>
                <br>
                <div style="background-color:silver;width:50px;height:50px;fill:#000">
                    <svg preserveAspectRatio="xMidYMid meet" style="width:100%;height:100%">
                        <use xlink:href="/images/sprite.svg#ico-magnifier"></use>
                    </svg>
                </div>
                <br>

            </div><!-- /content__main -->
        </section>
    </div> <!-- /page__main -->
{% endblock %}
