
<section class="buylid">
  <div class="buylid__left">
    <h4 class="buylid__title"><span>Лидогенерация —</span><br> это новая эра маркетинга!</h4>
    <button class="button buylid__button">Купить Лиды</button>
  </div>
  <div class="buylid__right">
    <p class="buylid__text">Использование лидогенерации снижает стоимость привлечения клиентов, позволяет бизнесу сосредоточиться на основном продукте и значительно упрощает процесс работы.</p>
    <p class="buylid__text">Стоимость заявок на нашей платформе зависит от их качества и сложности. Мы предоставляем прозрачные тарифы и выгодные условия сотрудничества.</p>
    <p class="buylid__text">Наша биржа — это место встречи тех, кто заказывает заявки, и тех, кто их предоставляет. Мы создаём условия для успешного сотрудничества и взаимной выгоды.</p>
    <a href="#" class="buylid__readmore link_white_back_var1">Читать больше2</a>
  </div>
</section>
