<header>
    <div class="header__main">
        <div class="header__logo">
            <a href="#">
                <svg preserveAspectRatio="xMinYMin meet">
                    <use xlink:href="/images/sprite.svg#logo"></use>
                </svg>
            </a>
        </div>
        <div class="header__nav">
            <ul>
                <li><a href="#" class="header__nav-link">home</a></li>
                <li><a href="#" class="header__nav-link nav-link--active">products</a></li>
                <li><a href="#" class="header__nav-link">services</a></li>
                <li><a href="#" class="header__nav-link">contact</a></li>
            </ul>
        </div> <!-- /header__nav -->
        <div class="header__nav-mobile">
            <svg>
                <use xlink:href="/images/sprite.svg#ico-nav-mobile"></use>
            </svg>
        </div> <!-- /header__nav-mobile -->
    </div>
</header>
