
<div class="items">
    <ul>
        <li>
            <div class="items__col_ico">
                <div class="items__ico items__ico--blue">
                    <svg class="items__ico-back">
                        <use xlink:href="/images/sprite.svg#circle-1"></use>
                    </svg>
                    <svg class="items__ico-item items__ico-item-1" width="56.37" height="78.86">
                        <use xlink:href="/images/sprite.svg#ico-items-1"></use>
                    </svg>
                    <img src="/images/0x0.png" width="137" height="137" alt="">
                </div>
            </div>
            <div class="items__content">
                <h2>Contrary to popular</h2>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
        </li>
        <li>
            <div class="items__col_ico">
                <div class="items__ico items__ico--red">
                    <svg class="items__ico-back">
                        <use xlink:href="/images/sprite.svg#circle-1"></use>
                    </svg>
                    <svg class="items__ico-item items__ico-item-2" width="70.469" height="60.125">
                        <use xlink:href="/images/sprite.svg#ico-items-2"></use>
                    </svg>
                </div>
            </div>
            <div class="items__content">
                <h2>Contrary to popular</h2>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
        </li>
        <li>
            <div class="items__col_ico">
                <div class="items__ico items__ico--yellow">
                    <svg class="items__ico-back">
                        <use xlink:href="/images/sprite.svg#circle-1"></use>
                    </svg>
                    <svg class="items__ico-item items__ico-item-3" width="77.187" height="70.375">
                        <use xlink:href="/images/sprite.svg#ico-items-3"></use>
                    </svg>
                </div>
            </div>
            <div class="items__content">
                <h2>Contrary to popular</h2>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
        </li>
    </ul>
</div> <!-- /items -->
