
<div class="shopping-cart">

    <div class="shopping-cart__title">
        <h3>The Shopping cart</h3>
        <div class="shopping-cart__title-img">
            <img src="/images/cart.png" alt="" width="371" height="279">
        </div>
    </div> <!-- /shopping-cart__title -->

    <div class="shopping-cart__content">
        <h3>Some Bullet text here</h3>
        <div class="shopping-cart__content-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting<br>
            Lorem Ipsum has been the industry's standard dummy text ever<br>
            When an unknown printer took a galley of type and scrambled<br>
            It to make a type specimen book. It has survived not only five centuries<br>
            But also the leap into electronic typesetting,<br>
            Remaining essentially unchanged. It was popularised<br>
            The release of Letraset sheets containing Lorem Ipsum passages
        </div>
    </div> <!-- /shopping-cart__content -->

</div> <!-- /shopping-cart -->
