
<div class="slider-top">
    <div class="slider-top__main">
        <div class="slider-top__image">
            <img src="/temp-files/iphone.png" alt="">
        </div>
        <div class="slider-top__content">
            <h1>Lorem Ipsum is simply</h1>
            <p>dummy text of the<br>printing & typesetting</p>
            <a href="#" class="btn-blue btn-check">
                <svg preserveAspectRatio="xMinYMin meet">
                    <use xlink:href="/images/sprite.svg#ico-check"></use>
                </svg>
                Sign up now
            </a>
        </div>
    </div>
    <img src="/images/back-top-slider.jpg" alt="" class="slider-top__back">
</div>
