
<section class="reviews">
  <h3 class="reviews__title">Отзывы клиентов</h3>
  <h4 class="reviews__title_sub">Более 89% наших клиентов сотрудничают с нами ежемесячно на протяжении более 2-х лет</h4>
  <ul class="reviews__list">
    <li class="reviews__item">
      <div class="reviews__item_rates">
        5,0
        <ul class="reviews__item_rates_value">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <p class="reviews__item_text">&laquo;Стабильно получаем новые лиды из сервиса. С точки зрения рентабельности нареканий нет. Тёплая заявка 800–1000 рублей, конверсия, цена-качество устраивает. Общее впечатление достаточно хорошее, цена, качество, скорость&raquo;.</p>
      <p class="reviews__item_text_sub">Ниша: банкротство, списание долгов</p>
    </li>
    <li class="reviews__item">
      <div class="reviews__item_rates">
        4,8
        <ul class="reviews__item_rates_value">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <p class="reviews__item_text">&laquo;С вашим сервисом работаем с июня 22 года. Нас заинтересовало, и мы решили протестировать. Взяли минимальный пакет из 10 новых лидов, а потом, как он закончился, взяли повышенный пакет. Учитывая нашу сферу и посмотреть статистику, из 100 заинтересованных 15 в продажу. Это хороший результат&raquo;.</p>
      <p class="reviews__item_text_sub">Ниша: банкротство, списание долгов</p>
    </li>
    <li class="reviews__item">
      <div class="reviews__item_rates">
        5,0
        <ul class="reviews__item_rates_value">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <p class="reviews__item_text">&laquo;С сервисом работаем чуть меньше года. Немного сомневались, но согласились попробовать, а после продолжили работать. Новые клиенты появились сразу, передали на наш колл-центр. С вашего источника дешевле, чем с других сервисов. Безусловно, с вами стоит работать&raquo;.</p>
      <p class="reviews__item_text_sub">Ниша: банкротство, списание долгов</p>
    </li>
    <li class="reviews__item">
      <div class="reviews__item_rates">
        4,9
        <ul class="reviews__item_rates_value">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <p class="reviews__item_text">&laquo;С вашей компанией работаем более 2‑х лет, сотрудничество полезное. Мы все посмотрели, разобрались, что сервис даёт реально целевые заявки. Заключили контракт на 23 000 рублей, окупилось. Понравилась технология, она помогает нам получать лиды&raquo;.</p>
      <p class="reviews__item_text_sub">Ниша: банкротство, списание долгов</p>
    </li>
  </ul>
  <ul class="reviews__video_list">
    <li class="reviews__video_item">
      <div class="reviews__video">
        <a href="#" class="reviews__video_play">
          <img src="images/sprite.svg#btn-play-1" alt="">
        </a>
      </div>
      <p class="reviews__video_text">Отзыв: название</p>
    </li>
    <li class="reviews__video_item">
      <div class="reviews__video">
        <a href="#" class="reviews__video_play">
          <img src="images/sprite.svg#btn-play-1" alt="">
        </a>
      </div>
      <p class="reviews__video_text">Отзыв: название</p>
    </li>
    <li class="reviews__video_item">
      <div class="reviews__video">
        <a href="#" class="reviews__video_play">
          <img src="images/sprite.svg#btn-play-1" alt="">
        </a>
      </div>
      <p class="reviews__video_text">Отзыв: название</p>
    </li>
  </ul>
</section>
