<div class="logo {{ add_class }}">
    <a href="index.html">
        <svg preserveAspectRatio="xMidYMid meet" class="logo_ellipse">
            <use xlink:href="/images/sprite.svg#ellipse-1"></use>
        </svg>
        <svg preserveAspectRatio="xMidYMid meet" class="logo_tri">
            <use xlink:href="/images/sprite.svg#triangle-1"></use>
        </svg>
        <svg preserveAspectRatio="xMidYMid meet" class="logo_ellipse">
            <use xlink:href="/images/sprite.svg#ellipse-1"></use>
        </svg>
        <span class="logo_lbl">unity</span>
    </a>
</div>

{% set add_class='' %}
