<div class="mslider">

    <div class="mslider__viewport">
        <ul>
            <li>
                <div class="mslider__item">
                    <div class="mslider__item-inner">
                        <div class="mslider__item-content">
                            <div class="mslider__item-title">Apex Magazine [1]<br>June Issue</div>
                            <div class="mslider__item-sub">by Fabrizio Morra</div>
                        </div>
                    </div>
                    <img src="/temp-files/slider-image-1.jpg" width="440" height="400" alt="" class="mslider__item-back">
                </div>
            </li>
            <li>
                <div class="mslider__item">
                    <div class="mslider__item-inner">
                        <div class="mslider__item-content">
                            <div class="mslider__item-title">Apex Magazine [2]<br>June Issue</div>
                            <div class="mslider__item-sub">by Fabrizio Morra</div>
                        </div>
                    </div>
                    <img src="/temp-files/slider-image-2.jpg" width="440" height="400" alt="" class="mslider__item-back">
                </div>
            </li>
            <li>
                <div class="mslider__item">
                    <div class="mslider__item-inner">
                        <div class="mslider__item-content mslider__item-content--black">
                            <div class="mslider__item-title">Apex Magazine [3]<br>June Issue</div>
                            <div class="mslider__item-sub">by Fabrizio Morra</div>
                        </div>
                    </div>
                    <img src="/temp-files/slider-image-3.jpg" width="440" height="400" alt="" class="mslider__item-back">
                </div>
            </li>
            <li>
                <div class="mslider__item">
                    <div class="mslider__item-inner">
                        <div class="mslider__item-content">
                            <div class="mslider__item-title">Apex Magazine [4]<br>June Issue</div>
                            <div class="mslider__item-sub">by Fabrizio Morra</div>
                        </div>
                    </div>
                    <img src="/temp-files/slider-image-1.jpg" width="440" height="400" alt="" class="mslider__item-back">
                </div>
            </li>
            <li>
                <div class="mslider__item">
                    <div class="mslider__item-inner">
                        <div class="mslider__item-content">
                            <div class="mslider__item-title">Apex Magazine [5]<br>June Issue</div>
                            <div class="mslider__item-sub">by Fabrizio Morra</div>
                        </div>
                    </div>
                    <img src="/temp-files/slider-image-2.jpg" width="440" height="400" alt="" class="mslider__item-back">
                </div>
            </li>
            <li>
                <div class="mslider__item">
                    <div class="mslider__item-inner">
                        <div class="mslider__item-content mslider__item-content--black">
                            <div class="mslider__item-title">Apex Magazine [6]<br>June Issue</div>
                            <div class="mslider__item-sub">by Fabrizio Morra</div>
                        </div>
                    </div>
                    <img src="/temp-files/slider-image-3.jpg" width="440" height="400" alt="" class="mslider__item-back">
                </div>
            </li>
        </ul>
    </div> <!-- /mslider__viewport -->

    <div class="mslider__controls-prev disabled">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-slider-slide"></use>
        </svg>
    </div>
    <div class="mslider__controls-next">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-slider-slide"></use>
        </svg>
    </div>

</div> <!-- /ourwork-slider -->
