<div class="ourteam">
    <h3 class="ourteam__title">Meet the team</h3>
    <div class="ourteam__desc">We're a small team,<br>but have a ton of experience</div>
    <ul class="ourteam__members">
        <li>
            <div class="ourteam__item">
                <div class="ourteam__photo">
                    <div class="ourteam__photo-wrap">
                        <img src="/temp-files/ourteam-photo-1.jpg" width="141" height="141" alt="">
                    </div>
                </div>
                <div class="ourteam__info">
                    <div class="ourteam__name">Pinhead Bob</div>
                    <div class="ourteam__stat">Co-Founder, CEO</div>
                    <div class="ourteam__socials">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-insta"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div> <!-- /ourteam__item -->
        </li>
        <li>
            <div class="ourteam__item ourteam__item--active">
                <div class="ourteam__photo">
                    <div class="ourteam__photo-wrap">
                        <img src="/temp-files/ourteam-photo-1.jpg" width="141" height="141" alt="">
                    </div>
                </div>
                <div class="ourteam__info">
                    <div class="ourteam__name">Pinhead Bob</div>
                    <div class="ourteam__stat">Co-Founder, CEO</div>
                    <div class="ourteam__socials">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-insta"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div> <!-- /ourteam__item -->
        </li>
        <li>
            <div class="ourteam__item">
                <div class="ourteam__photo">
                    <div class="ourteam__photo-wrap">
                        <img src="/temp-files/ourteam-photo-1.jpg" width="141" height="141" alt="">
                    </div>
                </div>
                <div class="ourteam__info">
                    <div class="ourteam__name">Pinhead Bob</div>
                    <div class="ourteam__stat">Co-Founder, CEO</div>
                    <div class="ourteam__socials">
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg preserveAspectRatio="xMidYMid meet">
                                <use xlink:href="/images/sprite.svg#ico-social-insta"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div> <!-- /ourteam__item -->
        </li>
    </ul>
</div> <!-- /ourteam -->
