<div class="ourwork">
    <div class="ourwork__top">
        <h3 class="ourwork__title">our featured work</h3>
        <div class="ourwork__desc">We create engaging experiences through creativity &amp; craft</div>
    </div>
    <div class="ourwork__slider">
        {% include 'mslider.twig' %}
    </div>
</div> <!-- /ourwork -->
