<div class="workinfo">
    <div class="workinfo__left"></div>
    <div class="workinfo__center">
        <div class="workinfo__center-left">
            <div class="workinfo__label">Ideas are easy to come by. Execution is really, really hard.</div>
            <img src="/temp-files/image-1.png" alt="" width="822" height="803" class="image-1">
        </div>
        <div class="workinfo__center-right">
            <div class="workinfo__center-right-main">
                <h3 class="workinfo__title">our ideology</h3>
                <div class="workinfo__desc">Learn > Experiment > Fail > Learn > Experiment > <span>Win</span></div>
            </div>
            <div class="workinfo__deco-1">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#plus-1"></use>
                </svg>
            </div>
            <div class="workinfo__deco-2">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ellipse-1"></use>
                </svg>
            </div>
            <div class="workinfo__deco-3">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ellipse-1"></use>
                </svg>
            </div>
            <div class="workinfo__deco-4">
                <img src="/images/back-plus-set.png" alt="">
            </div>
        </div>
    </div>
    <div class="workinfo__right"></div>
</div> <!-- /workinfo.twig -->
