
<div class="tabs">
  <ul class="tabs__list">
    <li class="tabs__list_item">
      <a href="#" class="tabs__list_link link_white_back">Лидогенерация в b2b</a>
    </li>
    <li class="tabs__list_item">
      <a href="#" class="tabs__list_link link_white_back">Биржа лидов</a>
    </li>
    <li class="tabs__list_item">
      <a href="#" class="tabs__list_link link_white_back">Сервис по Лидгену</a>
    </li>
    <li class="tabs__list_item">
      <a href="#" class="tabs__list_link link_white_back">Лиды для производства</a>
    </li>
    <li class="tabs__list_item">
      <a href="#" class="tabs__list_link link_white_back">Клиенты для бизнеса</a>
    </li>
    <li class="tabs__list_item">
      <a href="#" class="tabs__list_link link_white_back">Определить телефон посетителя сайта</a>
    </li>
  </ul>
</div>
