
<section class="contacts">
  <div class="contacts__left">
    <h4 class="contacts__title">Контакты</h4>
    <p class="contacts__title_sub">Есть вопрос, или вы хотите получить бесплатную консультацию? Свяжитесь с нами, и мы предоставим необходимую информацию!</p>
    <div class="contacts__item">
      <p class="contacts__item_title">Адрес офиса</p>
      <p class="contacts__item_text">г. Москва, ул. Дубининская, д. 53</p>
    </div>
    <div class="contacts__item">
      <p class="contacts__item_title">Телефон:</p>
      <p class="contacts__item_text">+7 495 118-32-82</p>
    </div>
    <div class="contacts__item">
      <p class="contacts__item_title">Электронная почта</p>
      <p class="contacts__item_text">mailbox@leadconveer.ru</p>
    </div>
    <div class="contacts__item">
      <p class="contacts__item_title contacts__item_title_ico">
        Или напишите нам в любимом мессенджере:
        <svg preserveAspectRatio="xMidYMid meet">
          <use xlink:href="images/sprite.svg#ico-telegram-call"></use>
        </svg>
      </p>
    </div>
  </div>
  <div class="contacts__right">
    <img src="images/tmp-image-18.png" alt="">
  </div>
</section>
