.mobile-navbar-btn
{
    @include size( 70px, 70px );
    @include pos-abs( null, 0, 0, null, 1 );

    background-color: rgba( 0, 0, 0, 0.3 );
    fill:             #fff;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    cursor:           pointer;

    svg
    {
        @include size( 40%, 40% );

    } // svg

    @include media(">=tablet-big")
    {
        display: none;
    }

} // .mobile-navbar-btn
