.follow
{
    //

} // follow

.follow__title
{
    margin: 0 0 23px;

} // .follow__title

.follow__list
{
    display:     flex;
    flex-flow:   row wrap;
    line-height: 0;
    font-size:   0;

    li
    {
        flex: 0 1 33.333%;

    } // li

    a
    {
        margin:     0 10px 10px 0;
        display:    inline-block;
        transition: $ani-speed-02s opacity ease-in-out;

        &:hover
        {
            opacity: 0.7;
        }

    } // a

    img
    {
        display:   block;
        max-width: 100%;
        height:    auto;

    } // img

} // .follow__list
