<footer>
    <div class="footer__main">
        <div class="footer__logo">
            <a href="#">
                <svg>
                    <use xlink:href="/images/sprite.svg#logo"></use>
                </svg>
            </a>
        </div><!-- /footer__logo -->
        <div class="footer__copy">
            Copyright © 2031 NOBODY Corporation
        </div><!-- /footer__copy -->
    </div><!-- /footer__main -->
</footer>
