
<div class="menu">
    <ul>
        <li class="menu__item-1">
            <a href="#">
                <svg width="109.01" height="74" preserveAspectRatio="xMinYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-better-design"></use>
                </svg>
                better design
            </a>
        </li>
        <li class="menu__item-2">
            <a href="#">
                <svg width="91.12" height="95" preserveAspectRatio="xMinYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-customize"></use>
                </svg>
                customize
            </a>
        </li>
        <li class="menu__item-3">
            <a href="#">
                <svg width="81" height="83" preserveAspectRatio="xMinYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-itsfree"></use>
                </svg>
                it's free
            </a>
        </li>
    </ul>
</div> <!-- /menu -->
