
<div class="news">
    <div class="news__inner">

        <div class="news__left">
            <div class="news__text">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</a>
                <svg width="11" height="11">
                    <use xlink:href="/images/sprite.svg#ico-plus"></use>
                </svg>
            </div><!-- /news__text -->
            <div class="news__video">
                <img class="news__video-preview" src="/temp-files/-tmp-video-1.jpg" width="315" height="232" alt="">
                <a href="#" class="news__video-play">
                    <span>
                        <svg width="17" height="31">
                            <use xlink:href="/images/sprite.svg#ico-player-btn-play-big"></use>
                        </svg>
                    </span>
                </a>
            </div><!-- /news__video -->
        </div><!-- /news__left -->
        <div class="news__tw">
            <div class="news__tw-img">
                <svg width="163" height="132.99">
                    <use xlink:href="/images/sprite.svg#ico-twitter"></use>
                </svg>
            </div><!-- /news__tw-img -->
            <div class="news__tw-content">
                <div class="news__tw-tweets">
                    <!--
                    TODO: Temp placeholder
                    -->
                    <img src="/temp-files/-tmp-tweets.jpg" width="320" height="191" alt="" style="width:100%;height:auto">
                </div><!-- /news__tw-tweets -->
                <div class="news__tw-controls">
                    <div class="form-item form-item-text">
                        <input type="text" placeholder="Text here">
                    </div>
                    <div class="form-item form-item-submit">
                        <input type="submit" value="Tweet">
                    </div>
                </div><!-- /news__tw-controls -->
            </div><!-- /news__tw-content -->
        </div><!-- /news__tw -->

    </div><!-- /news__inner -->
</div> <!-- /news -->
