
<div class="slider">
    <!--
    TODO: temp placeholder, no slider here
    -->
    <div class="slider__item">
        <div class="slider__item-left">
            <img src="/temp-files/-tmp-image-player___3.jpg" alt="" class="slider__item-preview">
            <a href="#" class="slider__item-play">
                <span>
                    <svg width="17" height="31">
                        <use xlink:href="/images/sprite.svg#ico-player-btn-play-big"></use>
                    </svg>
                </span>
            </a>
        </div><!-- /slider__item-left -->
        <div class="slider__item-right">
            <h1>The cool </h1>
            <h2>The minimal</h2>
        </div><!-- /slider__item-right -->
    </div><!-- /slider__item -->
    <img src="/images/slider__resizer.png" width="640" height="327" alt="" class="slider__resizer">
</div><!-- /slider -->
