<div class="adv {{ adv_swap }}">
    <div class="adv__content">
        <h3 class="adv__title">Make your<br> workstation fun<br> with entertainment.</h3>
        <p class="adv__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in rhederit.</p>
        <a href="#" class="btn--orange">View</a>
    </div>
    <div class="adv__image"><img src="{{ adv_img }}" alt=""></div>
</div>
