<footer>
    <div class="footer__main">
        <div class="footer__menu">
            <div class="footer__item">
                <h6>Address</h6>
                <ul>
                    <li><a href="#">Creative &amp; Clean</a></li>
                    <li><a href="#">Sylhet 3100</a></li>
                    <li><a href="#">Dhaka</a></li>
                    <li><a href="#">Bangladesh</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h6>Product</h6>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Open-Source</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h6>Learn</h6>
                <ul>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Tutorial</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h6>Pricing</h6>
                <ul>
                    <li><a href="#">Basic</a></li>
                    <li><a href="#">Regular</a></li>
                    <li><a href="#">Premium</a></li>
                    <li><a href="#">Platinum</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copy">
            <div class="footer__copy-text">
                &copy; 2017 all rights reserved by <a href="#">noname@noname.com</a>
            </div>
        </div>
    </div>
</footer>
