<header>
    <div class="header__main">
        {% include 'btn-menu-mobile.twig' %}
        <div class="header__content">

            <div class="header__text">
                <h1>Creative & Clean</h1>
                <h2>Luxury workstation with Style.</h2>
            </div>

            <div class="header__elements">
                <a href="#" class="btn--orange">View</a>
            </div>

            <div class="header__content-image">
                <img src="/temp-files/image-1.jpg" alt="" width="1400" height="768">
            </div>

            <svg width="1400" height="768" class="header__content-sizer" preserveAspectRatio="xMidYMin meet">
                <use xlink:href="/images/sprite.svg#header-resizer"></use>
            </svg>
        </div>
    </div>
</header>
