<div class="pres">
    <div class="pres__content">
        <h3 class="pres__title">Supply of unmilited Resources...</h3>
        <p class="pres__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in rhederit.</p>
        <a href="#" class="btn--orange">Check this out</a>
    </div>
    <img class="pres__image" src="/temp-files/image-4.jpg" width="1400" height="578" alt="">
</div>
