
@import "../settings";

.lidtar__title {

  display:        flex;
  flex-direction: column;

  padding: 124px 0 40px;

  font:           700 48px/100% "Montserrat";
  font-size:      min(2.5vw, 48px);
  letter-spacing: 0;
  text-align:     center;

  span {
    color: $color-orange-1;
  }

  @media (max-width: $page-w-desktop-middle) {
    padding-top: 40px;
  }

  @media (max-width: $page-w-tablet-bigger) {
    font-size: min(3vw, 48px);

    padding-top:    20px;
    padding-bottom: 20px;
  }
}
