@font-face
{
    font-family: 'InterUI';
    src: url('../fonts/inter-regular-webfont.eot');
    src: url('../fonts/inter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter-regular-webfont.woff2') format('woff2'),
         url('../fonts/inter-regular-webfont.woff') format('woff'),
         url('../fonts/inter-regular-webfont.ttf') format('truetype'),
         url('../fonts/inter-regular-webfont.svg#interregular') format('svg');
    font-weight: normal;
    font-style:  normal;
}

// MEDIUM - 500
@font-face
{
    font-family: 'InterUI';
    src: url('../fonts/inter-medium-webfont.eot');
    src: url('../fonts/inter-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter-medium-webfont.woff2') format('woff2'),
         url('../fonts/inter-medium-webfont.woff') format('woff'),
         url('../fonts/inter-medium-webfont.ttf') format('truetype'),
         url('../fonts/inter-medium-webfont.svg#intermedium') format('svg');
    font-weight: 500;
    font-style:  normal;
}

@font-face
{
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style:  normal;
}

// MEDIUM - 500
@font-face
{
    font-family: 'Poppins';
    src: url('../fonts/poppins-medium-webfont.eot');
    src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff'),
         url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
         url('../fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: 500;
    font-style:  normal;
}

// BOLD - 900
@font-face
{
    font-family: 'Poppins';
    src: url('../fonts/poppins-bold-webfont.eot');
    src: url('../fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff'),
         url('../fonts/poppins-bold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: 900;
    font-style:  normal;
}

// SEMI BOLD - 800
@font-face
{
    font-family: 'Poppins';
    src: url('../fonts/poppins-semibold-webfont.eot');
    src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff'),
         url('../fonts/poppins-semibold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: 800;
    font-style:  normal;
}

// LIGHT - 200
@font-face
{
    font-family: 'Poppins';
    src: url('../fonts/poppins-light-webfont.eot');
    src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff'),
         url('../fonts/poppins-light-webfont.ttf') format('truetype'),
         url('../fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: 200;
    font-style:  normal;
}
