// REGULAR - normal
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style:  normal;
}

// BOLD - 900
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: 900;
    font-style:  normal;
}

// ITALIC - italic
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-italic-webfont.eot');
    src: url('../fonts/raleway-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff'),
         url('../fonts/raleway-italic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-italic-webfont.svg#ralewayitalic') format('svg');
    font-weight: normal;
    font-style:  italic;
}

// BOLD ITALIC - 900 italic
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-bolditalic-webfont.eot');
    src: url('../fonts/raleway-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bolditalic-webfont.svg#ralewaybold_italic') format('svg');
    font-weight: 900;
    font-style:  italic;
}

// MEDIUM - 500
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style:  normal;
}

// MEDIUM ITALIC - 500 italic
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: 500;
    font-style:  italic;
}

// EXTRABOLD - 800
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-extrabold-webfont.eot');
    src: url('../fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff'),
         url('../fonts/raleway-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style:  normal;
}

// EXTRABOLD ITALIC - 800 italic
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-extrabolditalic-webfont.eot');
    src: url('../fonts/raleway-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-extrabolditalic-webfont.svg#ralewayextrabold_italic') format('svg');
    font-weight: 800;
    font-style:  italic;
}

// SEMI BOLD - 600
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff'),
         url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: 600;
    font-style:  normal;
}

// SEMI BOLD ITALIC - 600 italic
@font-face
{
    font-family: 'Raleway';
    src: url('../fonts/raleway-semibolditalic-webfont.eot');
    src: url('../fonts/raleway-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-semibolditalic-webfont.svg#ralewaysemibold_italic') format('svg');
    font-weight: 600;
    font-style:  italic;
}




// REGULAR - normal
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style:  normal;
}

// ITALIC - italic
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-italic-webfont.eot');
    src: url('../fonts/montserrat-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-italic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-italic-webfont.woff') format('woff'),
         url('../fonts/montserrat-italic-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-italic-webfont.svg#montserratitalic') format('svg');
    font-weight: normal;
    font-style:  italic;
}

// BOLD - 900
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: 900;
    font-style:  normal;
}

// BOLD ITALIC - 900 italic
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bolditalic-webfont.eot');
    src: url('../fonts/montserrat-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bolditalic-webfont.woff') format('woff'),
         url('../fonts/montserrat-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bolditalic-webfont.svg#montserratbold_italic') format('svg');
    font-weight: 900;
    font-style:  italic;
}

// LIGHT - 300
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 300;
    font-style:  normal;
}

// LIGHT ITALIC - 300 italic
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-lightitalic-webfont.eot');
    src: url('../fonts/montserrat-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-lightitalic-webfont.woff') format('woff'),
         url('../fonts/montserrat-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-lightitalic-webfont.svg#montserratlight_italic') format('svg');
    font-weight: 300;
    font-style:  italic;
}

// ULTRA LIGHT - 200
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extralight-webfont.eot');
    src: url('../fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('../fonts/montserrat-extralight-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-extralight-webfont.svg#montserratextralight') format('svg');
    font-weight: 200;
    font-style:  normal;
}

// ULTRA LIGHT ITALIC - 200 italic
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extralightitalic-webfont.eot');
    src: url('../fonts/montserrat-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/montserrat-extralightitalic-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-extralightitalic-webfont.svg#montserratextralight_italic') format('svg');
    font-weight: 200;
    font-style:  italic;
}



// REGULAR - normal
@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style:  normal;
}

// ITALIC - italic
@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style:  italic;
}

// BOLD - 900
@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 900;
    font-style:  normal;
}

// BOLD ITALIC - 900 italic
@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/roboto-bolditalic-webfont.eot');
    src: url('../fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: 900;
    font-style:  italic;
}
