<div class="content-block-2">
    <div class="content-block-2__inner">
        <div class="content-block-2__content">
            <div class="content-block__title">Quit Multitasking</div>
            <div class="content-block__text">On a similar note, don’t try to fit in the fun stuff on an evening or weekend when you need to be working. If you’re trying to squeeze in writing a blog post during the commercial breaks of American Idol, chances are it won’t be that good, and you’ll end up spending more time on revising it later. Either commit to taking a break from work for some fun or getting everything done now so that you can enjoy yourself fully later.<br>Working after hours is one of those unfortunate facts of life, but you can create rituals and boundaries that</div>
            <a href="#" class="content-block__readmore">
                READ MORE
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow"></use>
                </svg>
            </a>
        </div> <!-- /content-block-2__content -->
    </div> <!-- /content-block-2__inner -->
    <img class="page-back-4" src="/images/back-image-4.png"   alt="" width="934" height="800">
</div> <!-- /content-block-2 -->
