<div class="content-block-2 content-block-2--swap">
    <div class="content-block-2__inner">
        <div class="content-block-2__content">
            <div class="content-block__title">Stay Focused on Work</div>
            <div class="content-block__text">In addition to your workload, you probably also have a to-do list that includes going grocery shopping, washing the dishes, and doing laundry. And it’s probably making you sweat just thinking about how you’ll manage to get everything done. My advice: Compartmentalize. Prioritize the urgent to-do (your work project), and let yourself off the hook with the others.</div>
            <a href="#" class="content-block__readmore">
                READ MORE
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow"></use>
                </svg>
            </a>
        </div> <!-- /content-block-2__content -->
    </div> <!-- /content-block-2__inner -->
    <img class="page-back-3" src="/images/back-image-3.png"   alt="" width="772" height="887">
</div> <!-- /content-block-2 -->
