<div class="content-block-1">
    <div class="content-block-1-inner">
        <div class="content-block__title">How to Work From<br> Home and<br>Get Stuff Done</div>
        <p class="content-block__text">An ever-increasing number of contractors and full-time<br> employees are working from home — or daydreaming<br> about working from home.</p>
        <div class="form-signup">
            <div class="form-signup__title">Sign up now to receive our daily tips</div>
            <div class="form-item form-text form-email">
                <input type="email" placeholder="email address">
            </div>
            <div class="form-item form-submit">
                <input type="submit" value="Sign Up">
            </div>
        </div> <!-- /form-signup -->
    </div> <!-- /content-block-1-inner -->
    <img class="page-back-1"   src="/images/back-image-1.png"   alt="" width="1152" height="769">
    <img class="page-back-1-1" src="/images/back-image-1-1.png" alt="" width="121"  height="474">
</div> <!-- /content-block-1 -->
