<div class="content-block-2">
    <div class="content-block-2__inner">
        <div class="content-block-2__content">
            <div class="content-block__title">Create Some Space</div>
            <div class="content-block__text">Designate a workspace at home for those late nights. This can be anywhere you have access to a flat surface and adequate lighting that allows you to concentrate — a desk, your kitchen table, a reading chair, just not your bed! This helps your mind and body understand when you’re in working mode and allows you to more effectively transition to “home” mode when you’re done.</div>
            <a href="#" class="content-block__readmore">
                READ MORE
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow"></use>
                </svg>
            </a>
        </div> <!-- /content-block-2__content -->
    </div> <!-- /content-block-2__inner -->
    <img class="page-back-2" src="/images/back-image-2.png"   alt="" width="938" height="730">
</div> <!-- /content-block-2 -->
