<footer>
    <div class="footer__main">
        <div class="footer__left">
            <a href="#" class="footer__logo"><img src="/images/logo.png" alt=""></a>
            <p class="footer__text">We provide resource for companies that see remote work as an opportunity, from hiring to training to managing distributed teams.  We are focused on providing expert insight, best practices, and valuable support for organizations exploring or already embracing a remote team as a significant portion of their workforce.</p>
            <div class="footer__copy">&copy; 2018 Zenwork. All rights reserved.</div>
        </div> <!-- /footer__left -->
        <div class="footer__nav">
            <ul class="footer__nav-list">
                <h6 class="footer__nav-title">About</h6>
                <li><a href="#">Find Remote Jobs</a></li>
                <li><a href="#">Post Remote Jobs</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div> <!-- /footer__nav -->
        <div class="footer__socials">
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-fb"></use>
                </svg>
            </a>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-insta"></use>
                </svg>
            </a>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-tw"></use>
                </svg>
            </a>
        </div> <!-- /footer__socials -->
    </div> <!-- /footer__main -->
    <img src="/images/back-image-4-1.png" alt="" width="676" height="539" class="footer__back4_1">
    <img src="/images/back-image-4-2.png" alt="" width="249" height="399" class="footer__back4_2">
</footer>
