<header>
    <div class="header__main">
        <a href="#" class="header__logo"><img src="/images/logo.png" alt=""></a>
        <div class="header__controls">
            <a href="#" class="header__search">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-magnifier"></use>
                </svg>
            </a>
            <a href="#" class="header__menu">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-menu-mobile"></use>
                </svg>
            </a>
        </div> <!-- /header__controls -->
    </div> <!-- /header__main -->
</header>
