<div class="remote">
    <div class="remote-inner">
        <div class="remote-left">
            <div class="remote-title">Remote jobs<br>waiting ahead!</div>
            <div class="remote-text">You'll get our latest and greatest jobs delivered<br> to your inbox 1-2 times a week.</div>
        </div>
        <div class="remote-right">

            <div class="form-signup">
                <div class="form-item form-text form-email">
                    <input type="email" placeholder="email address">
                </div>
                <div class="form-item form-submit">
                    <input type="submit" value="Sign Up">
                </div>
            </div> <!-- /form-signup -->

        </div>
    </div> <!-- /remote-inner -->
    <img src="/images/back-image-4-3.png" alt="" width="1410" height="350" class="remote-back">
</div> <!-- /remote -->
