
@import "../settings";

.clients__title {
  font:       700 48px/120% "Montserrat";
  font-size:  min( 2.5vw, 48px );
  text-align: center;

  display:        flex;
  flex-direction: column;

  margin: 0 0 17px;

  span {
    color: $color-orange-1;

    margin: -6px 0 0;
  }

  @media (max-width: $page-w-tablet-bigger) {
    font-size: min( 4vw, 48px );
  }
}
