
<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__list_item"><a href="#" class="navbar__list_link">Как это работает</a></li>
        <li class="navbar__list_item"><a href="#" class="navbar__list_link">Цена</a></li>
        <li class="navbar__list_item"><a href="#" class="navbar__list_link">Отзывы</a></li>
        <li class="navbar__list_item"><a href="#" class="navbar__list_link">Контакты</a></li>
    </ul>
</nav>
