<header>
    <div class="header__main">
        {% include 'header__logo.twig' %}
        {% include 'header_navbar.twig' %}
        {% include 'header__phones.twig' %}
    </div>
    {% include 'header__top.twig' %}
</header>
