
<div class="header__phones">
    <a href="#" class="header__phones_ico header__phones_wa">
        <img src="images/ico-whatsapp-call.png" alt="" />
    </a>
    <a href="#" class="header__phones_ico header__phones_tg">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="images/sprite.svg#ico-telegram-call"></use>
        </svg>
    </a>
    <a href="#" class="header__phones_ph">+7 495 118-32-82</a>
</div>
