
<div class="header__top">
    <div class="header__top_left">
        <h3 class="header__top_title">
            <span>Лидогенерация </span> для бизнеса
        </h3>
        <p class="header__top_text">
            Покупайте только целевые лиды по фиксированной цене от 300 ₽
            <span class="header__top_text_ico"></span>
        </p>
        <button class="header__top_btn button">Выбрать пакет лидов</button>
    </div>
    <div class="header__top_right">
        <img src="images/tmp-image-1.png" alt="" class="header__top_right_image" style="width: 87.5%" />
        <div class="star star-1"></div>
        <div class="star star-2"></div>
    </div>
</div>
